@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color-scheme: light dark;
}

@layer components {
	.center-tabledata {
		@apply text-center pb-2 pt-2 w-12;
	}
}

@layer components {
	.newLine {
		@apply block text-2xl text-center font-bold;
	}
}

@layer components {
	.BottomnewLine {
		@apply block p-0 text-center font-bold;
	}
}

@layer components {
	.boldText {
		@apply font-bold text-xl text-center pl-3 pr-3 pb-0 rounded-xl border;
	}
}

.tableHeader::part(column) {
	text-align: center;
}
